#root {
  text-align: center;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.card {
text-align: left;
width: 50vmin;
background-color: linear-gradient();
margin: 5vmin;
border: lightgray 5px solid;
background-color: gray;
color: lightgray;
}

div {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

div.card {
  padding: 2vmin;
  }